@import '~materialize-css/dist/css/materialize.min.css';

.deviationsRow {
    width: 90% !important;
}
html {
    min-height: 100%;
}
body {
    background: linear-gradient(
        0deg,
        rgb(77, 170, 132) 0%,
        rgb(83, 127, 127) 100%
    );
}

.col {
    margin: 0px 5rem 10px 0px;
}

nav {
    background: rgba(158, 235, 216, 0.196);
}

.brand-logo {
    margin-left: 1rem;
}

#nav-mobile > li > a {
    color: rgb(255, 246, 246);
}

#root > nav > div > a {
    color: rgb(255, 247, 247);
}

.header-top-10,
.text-color {
    color: #ffffffd5;
}

.text-bold {
    font-size-adjust: inherit;
}

.timer {
    z-index: 100;
    color: wheat;
    position: fixed;
    left: 1em;
    bottom: 1em;
    background-color: rgb(81, 76, 74);
    padding: 10px;
    font-size: large;
}

@media (max-width<700px) {
    * {
        margin: 0px !important;
        padding: 0px !important;
        align-items: center;
    }
    .col {
        width: 10%;
        margin: 0px !important;
        padding: 0px !important;
        margin-right: 0rem;
    }
}
