@import '~materialize-css/dist/css/materialize.min.css';

.deviationsRow {
    width: 90% !important;
}
html {
    min-height: 100%;
}
body {
    background: linear-gradient(
        0deg,
        rgba(34, 193, 195, 1) 0%,
        rgba(246, 231, 200, 1) 100%
    );
}

.col {
    margin: 0px 5rem 10px 0px;
}

nav {
    background: rgba(158, 235, 216, 0.196);
}

.brand-logo {
    margin-left: 1rem;
}

#nav-mobile > li > a {
    color: black;
}

#root > nav > div > a {
    color: black;
}
